body {
  background-color: #252B48;
}
.cont-nav {
  position: absolute;
  left: 20px;
}
nav {
  display: flex;
  background: #445069;
  justify-content: center;
  
}
.link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 25px 40px;
}
.active {
  background-color: #F7E987;
  color: #252B48;
}
h1 {
  padding: 30px;
  color: rgba(79, 134, 121, 0.815);
  font-size: 40px;
  
}
.welcome-container {
  background-color: white;
  margin: 0;
  height: 110px;
}
.center {
  display: flex;
  justify-content: center;
}
.carusel-container {
  width: 600px;
}
.clider-text {
  background-color: #44506968;
  padding: 10px;
  font-size: 25px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #445069;
    margin-top: 30px;
}

.cont-footer {
  align-self: center;
  color: #fff;
  margin-bottom: 5px;
}
.big-container {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}
.container-find {
  align-self: center;
}
.text {
  color: #4f8679;
  font-size: 17px;
}
.search {
  padding: 13px;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.715);
}
.header-find, .cont-plan-meny {
  font-size: 50px;
  margin-bottom: 50px;
  color: #fcfaef;
}
.cont-plan-meny {
  margin-top: 15px;
}
.cont-input {
  display: flex;
}
.btn-search {
  background-color: #252B48;
  border: none;
}
.carusel-container-two {
  width: 500px;
}
.my_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  }
  
.my_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a94;
  width: 100%;
  height: 100%;
  }
  
.my_modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-size: 15px;
  width: 50%;
  height: 70%;
  border-radius: 15px;
  }

  li {
    list-style: square;
  }
  .recipes-container {
    display: flex;
    flex-wrap: wrap;
  }
  .btn-ingr {
    font-size: 17px;
    font-weight: lighter;
    padding: 10px;
    background-color: #4f8679;
    border: none;
    border-radius: 10px;
    color: #fcfaef;
  }
  .recipe-img {
    border-radius: 20px;
  }
  .calories {
    font-size: 20px;
    color: #F7E987;
  }
  .recipe-card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    justify-content: flex-end;
  }
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .recipe-name {
    color: #fcfaef;
    text-shadow: 2px 2px black;
  }
hr {
  color: #F7E987;
  width: 90%;
}
.hr-container {
  display: flex;
  justify-content: center;
}
.cont-week-menu {
  display: flex;
  flex-wrap: wrap;
}
.cont-day {
  flex-grow: 1;
  width: 45%;
  margin: 10px;
}
.selected {
  border-radius: 20px;
  background-color: #fcfaef;
  border: 4px solid #4f8679;
  padding: 2px;
  margin-top: 5px;
}
.default {
  border-radius: 20px;
  background-color: rgb(201, 201, 201);
  padding: 2px;
  margin-top: 5px;
}
.btn-delete-day {
  margin: 5px;
  border: none;
  font-size: 12px;
}
.selected-btn {
  background-color: #fcfaef;
}
.default-btn {
  background-color: rgb(201, 201, 201);
}
.title {
  margin: 3px;
  font-size: 14px;
}
.title-day {
  font-size: 16px;
  font-weight: bolder;
}
.meal {
  font-size: 14px;
}
.myInput {
  margin-left: 10px;
  width: 20%;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #fcfaef;
  border: 4px solid #4f8679;
}
.textarea {
  width: 45%;
}
textarea {
  border: 4px solid #4f8679;
  padding: 10px;
  margin-top: 30px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  margin-left: 5px;
  background-color: #fcfaef;
}
.btn-position {
  display: flex;
  justify-content: flex-end;
}
.btn-add-to-list {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #4f8679;
  color: #F7E987;
  border: none;
}
.cont-textarea {
  display: flex;
  justify-content: space-around;
}
.cont-input {
  display: flex;
  justify-content: center;
}
.cont-started {
  color: #F7E987;
  padding: 10px;
  margin: 15px;
}
.container-shoppingList {
  display: flex;
  justify-content: center;
}
.cont-shopping-color {
  background-color: #fcfaef;
  width: 500px;
  padding: 20px;
  border-radius: 15px;
}
ol {
  font-size: 17px;
  font-weight: bold;
}
.item {
  font-weight: bold;
  font-size: 15px;
}
li {
  padding: 5px;
}
.btn-delete-list {
  padding: 10px;
  border-radius: 10px;
  background-color: #4f8679;
  color: #fcfaef;
  border: none;
}
.count-items {
  color: #fcfaef;
  font-size: 13px;
  font-weight: bold;
}
.btn-delete-item {
  border: none;
  background-color: #fcfaef;
}
.btn-print-list {
  background-color: #F7E987;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-left: 15px;
}
.cont-li {
  display: flex;
  justify-content: space-between;
}
