body {
  background-color: #252B48;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}
.main-cont {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.cont-nav {
  position: absolute;
  left: 15px;
  z-index: 2;
  top: 2px;
}
nav {
  display: flex;
  background: #445069;
  justify-content: center;
}
.mobile-only {
  display: none; 
}
.scrolled {
  background: #44506965;
}
.my-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 25px 40px;
}
.active {
  background-color: #F7E987;
  color: #252B48;
}
.login-logout {
  position: fixed;
  top: 25px;
  right: 70px;
  z-index: 3;
}
.btn-login-logout {
  background-color: #445069;
  border: none;
  color: #fcfaef;
}
.btn-login-logout:hover {
  border-bottom: 1px solid #fcfaef;
}
.btn-scrolled-log {
  background: hsla(221, 21%, 34%, 0)
}
.recipe-container {
  margin-top: 80px;
}
.hidden-img {
  display: none;
}
h1 {
  padding: 30px;
  color: rgba(79, 134, 121, 0.815);
  font-size: 40px;
  
}
.center {
  display: flex;
  justify-content: center;
}
.about {
  flex: 1;
  margin: 9px;
}
.sliderLink {
  text-decoration: none;
  color: #fcfaef;
  font-size: 23px;
}
.slider-text {
  background-color: #44506968;
  padding: 15px;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #445069;
  margin-top: 30px;
}
.cont-footer {
  align-self: center;
  color: #fff;
  margin-bottom: 5px;
}
.cont-plan-meny {
  font-size: 50px;
  margin-bottom: 40px;
  color: #fcfaef;
  margin-top: 15px;
}
.btn-search {
  background-color: #252B48;
  border: none;
}
.my_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.my_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a94;
  width: 100%;
  height: 100%;
}
.my_modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-size: 15px;
  width: 70%;
  height: 70%;
  border-radius: 15px;
}
li {
  list-style: square;
}
.btn-ingr {
  font-size: 17px;
  font-weight: lighter;
  padding: 10px 20px;
  background-color: #4f8679;
  border: none;
  border-radius: 10px;
  color: #fcfaef;
}
li {
  padding: 5px;
}
.btn-delete-list {
  padding: 10px;
  border-radius: 10px;
  background-color: #4f8679;
  color: #fcfaef;
  border: none;
}
.count-items {
  color: #fcfaef;
  font-size: 13px;
  font-weight: bold;
}
.send-message {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.message-input, .message-textarea {
  margin-top: 7px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: #fcfaef;
  border: none;
  font-size: 14px;
}
.message-textarea {
  height: 150px;
}
label {
  color: #F7E987;
  margin-left: 10px;
}
.button{
  width: 40%;
  cursor: pointer;
  display: inline-block;
  padding: 13px;
  margin: 20px;
  color: #fcfaef;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
  animation: glow 1500ms infinite ease-in-out;
}
.button:focus{
  outline: 0;
}
@keyframes glow {
  0%{
    background: #396158;
    box-shadow: 0px 0px 3px #396158;
  }
  50%{
    background: #4f8679;
    box-shadow: 0px 0px 40px #63988d;
  }
  100%{
    background: #396158;
    box-shadow: 0px 0px 3px #396158;
  }
}
.submited-form {
  color: #F7E987;
  font-size: 30px;
}
h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.loader::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
.loader span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background:transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loader span::before {
  content: '';
  position: absolute;
  top: -6px;
  right: -8px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #fff000;
  box-shadow: 0 0 10px #fff000;
}
@keyframes animateCircle {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(405deg);
  }
}
.tab {
  background: #fcfaef;
}
.tab .input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab .input:checked ~ .tab__content {
  max-height: 100rem;
}
.accordion {
  color: #fcfaef;
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 10px;
}
.tab__label {
  display: flex;
  justify-content: space-between;
  color: #252B48;
  background: #fcfaef;
  cursor: pointer;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  margin-top: 12px;
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
  font-size: 20px;
}
.tab .input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p, h4 {
  margin: 0;
  padding: 1rem;
}
.tab__content p {
  font-size: 18px;
  color: #252B48;
}

.tab .input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}
.accordion-content {
  margin-left: 30px;
}

@media (max-width: 800px) {
  .mobile-only {
    display: block; 
  }
  .my-navbar {
    display: none;
  }
  .my-navbar.open {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
  }
  .dish-imgr {
    display: none;
  }
  .btn-login-logout {
    background-color: #252B48;
  }
}

@media (max-width: 500px) {
  .carouselImg {
    width: 350px;
  }
  .recipe-container {
    margin-top: 50px;
  }
  .cont-plan-meny {
    text-align: center;
    font-size: 30px;
  }
  .cont-shopping-color {
    width: 350px;
  }
  .cont-footer {
    font-size: 12px;
  }
  .appImgApple {
    width: 20px;
  }
  .appImgGoogle {
    width: 15px;
  }
  .contact-link {
    font-size: 15px;
  }
  .main-cont {
    position: relative;
  }
  .login-logout {
    position: absolute;
    top: 15px;
    right: 50px;
    z-index: 3;
  }
  .btn-login-logout {
    background-color: #252B48;
  }
}